@model ContactApp.Models.Contact
@{
    ViewBag.Title = "Delete";
}
<form asp-action="delete" method="post">
    <input type="hidden" asp-for="ContactId" />
    <h2>Silmek istediğinizden eminmisiniz @Model.FirstName @Model.LastName ?</h2>
    <button type="submit" class="btn btn-danger">Sil/button>
</form>
